$flex-direction: row, row-reverse, column, column-reverse;
$flex-alignment: justify-content, align-items, align-content, align-self;
$flex-spacing: flex-start, flex-end, center, space-between, space-around, space-evenly;

@mixin flex($direction: row) {
  .flex-#{$direction} {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
  }
}

@mixin flex-layout($alignment: justify-content, $spacing: flex-start) {
  .#{$alignment}-#{$spacing} {
    #{$alignment}: $spacing;
  }
}

@mixin gap($size: 0.25) {
  .gap-#{$size * 4} {
    gap: #{$size}rem;
  }
}

@each $flex-direction-item in $flex-direction {
  @include flex($direction: $flex-direction-item);
}

@each $flex-alignment-item in $flex-alignment {
  @each $flex-spacing-item in $flex-spacing {
    @include flex-layout($alignment: $flex-alignment-item, $spacing: $flex-spacing-item);
  }
}


@for $i from 1 through 100 {
  @include gap($i / 4);
}


.flex-grow {
  & > * {
    flex-grow: 1;
    margin: 1rem;
  }
}

.flex-no-wrap {
  flex-wrap: nowrap;
}
