@mixin spacing($type: margin, $size: 0.25, $unit: rem) {
  .#{$type}-#{$size * 4} {
    #{$type}: #{$size}#{$unit};
  }

  .#{$type}-y-#{$size * 4} {
    #{$type}: #{$size}#{$unit} 0;
  }

  .#{$type}-x-#{$size * 4} {
    #{$type}: 0 #{$size}#{$unit};
  }
}

@for $i from 1 through 100 {
  @include spacing($type: margin, $size: $i / 4, $unit: rem);
  @include spacing($type: margin, $size: $i / 4, $unit: em);
  @include spacing($type: padding, $size: $i / 4, $unit: rem);
  @include spacing($type: padding, $size: $i / 4, $unit: em);
}



