@import "~@fontsource/montserrat/300.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/500.css";
@import "~@fontsource/montserrat/700.css";

$font-stack: "Montserrat", sans-serif;
$font-size: 16px;
$font-word-spacing: 1px;
$font-regular: 400;
$font-bold: 700;

@mixin typography($size: 1em, $weight: $font-regular) {
  font-size: $size;
  font-weight: $weight;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-stack;
  font-size: $font-size;
  word-spacing: $font-word-spacing;
  font-weight: $font-regular;

  h1 {
    @include typography($size: 2.25em, $weight: $font-bold);
  }

  h2 {
    @include typography($size: 2em, $weight: $font-bold);
  }

  h3 {
    @include typography($size: 1.875em, $weight: $font-bold);
  }

  h4 {
    @include typography($size:  1.625em, $weight: $font-bold);
  }

  h5 {
    @include typography($size: 1.375em, $weight: $font-bold);
  }

  h6 {
    @include typography($size: 1.125em, $weight: $font-bold);
  }

  p {
    @include typography;
  }

  a {
    @include typography;
  }
}

